/* 
    Created on : Mar 7, 2021, 11:18:20 AM
    Author     : elciotaira
*/

.footer{
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    background-color: red;
}